<div class="jumbotron text-center mt-3">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">jot down ideas for your next YouTube videos</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
</div>